default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5

development:
  <<: *default
  database: scratchagift_dev

test:
  <<: *default
  database: scratchagift_test

production:
  <<: *default
  database: scratchagift_prod
